@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P';
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items:center;



}
h1 {
  text-align: center;

}

button {
  border: none;
  margin: 2rem 0;
  padding: 2rem;
}
